<div class="container-fluid">
  <br><br><br><br><br><br>
  <h1>Please create a new event.</h1>
  <br><br>
  <div class="form">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="ticketURL">Ticket Page URL</label>
          <input type="text" class="form-control" id="ticketURL"/>
        </div>
        <div class="form-group">
          <label for="eventName">Event Name</label>
          <input type="text" class="form-control" id="eventName"/>
        </div>
        <div class="form-group">
          <label for="eventTags">Event Tags</label>
          <input type="text" class="form-control" id="eventTags"/>
        </div>
        <div class="form-group">
          <label for="eventVenue">Event Venue</label>
          <input type="text" class="form-control" id="eventVenue"/>
        </div>
        <a routerLink="/"><button type="submit" class="btn btn-primary">Submit</button></a>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>
